/* GLOBALS */
:root {
  --font-body: "Commissioner", sans-serif;
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(260, 10%, 29%);
  --color-light-grey: hsl(0, 0%, 48%);
  --bg-violet: hsl(260, 71%, 62%);
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  font-size: 1.4rem;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
